body {
  padding: 16px 32px;
  font-size: 1.2em;
}

button, input[type=text] {
  padding: 0.5em 1em;
  font-size: 1.2em;
}

#clickPosition {
  display: inline-block;
  margin: 24px 0;
  width: 400px;
  height: 240px;
  line-height: 240px;
  text-align: center;
  background-color: lightblue;
}